[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RestiveMind
[access "refs/for/refs/*"]
	read = group user/RestiveMind
	push = group user/RestiveMind
	label-Code-Review = -2..+2 group user/RestiveMind
	label-Verified = -1..+1 group user/RestiveMind
	rebase = group user/RestiveMind
	removeReviewer = group user/RestiveMind
	submit = group user/RestiveMind
[access "refs/heads/*"]
	read = group user/RestiveMind
	create = group user/RestiveMind
	push = +force group user/RestiveMind
	pushMerge = group user/RestiveMind
[access "refs/tags/*"]
	push = +force group user/RestiveMind
	pushTag = group user/RestiveMind
	pushSignedTag = group user/RestiveMind
